@mixin primer-colors-light($sel) {
  #{$sel} {
    --color-scale-black: #1b1f23;
    --color-scale-white: #ffffff;
    --color-scale-gray-0: #fafbfc;
    --color-scale-gray-1: #f6f8fa;
    --color-scale-gray-2: #e1e4e8;
    --color-scale-gray-3: #d1d5da;
    --color-scale-gray-4: #959da5;
    --color-scale-gray-5: #6a737d;
    --color-scale-gray-6: #586069;
    --color-scale-gray-7: #444d56;
    --color-scale-gray-8: #2f363d;
    --color-scale-gray-9: #24292e;
    --color-scale-blue-0: #f1f8ff;
    --color-scale-blue-1: #dbedff;
    --color-scale-blue-2: #c8e1ff;
    --color-scale-blue-3: #79b8ff;
    --color-scale-blue-4: #2188ff;
    --color-scale-blue-5: #0366d6;
    --color-scale-blue-6: #005cc5;
    --color-scale-blue-7: #044289;
    --color-scale-blue-8: #032f62;
    --color-scale-blue-9: #05264c;
    --color-scale-green-0: #f0fff4;
    --color-scale-green-1: #dcffe4;
    --color-scale-green-2: #bef5cb;
    --color-scale-green-3: #85e89d;
    --color-scale-green-4: #34d058;
    --color-scale-green-5: #28a745;
    --color-scale-green-6: #22863a;
    --color-scale-green-7: #176f2c;
    --color-scale-green-8: #165c26;
    --color-scale-green-9: #144620;
    --color-scale-yellow-0: #fffdef;
    --color-scale-yellow-1: #fffbdd;
    --color-scale-yellow-2: #fff5b1;
    --color-scale-yellow-3: #ffea7f;
    --color-scale-yellow-4: #ffdf5d;
    --color-scale-yellow-5: #ffd33d;
    --color-scale-yellow-6: #f9c513;
    --color-scale-yellow-7: #dbab09;
    --color-scale-yellow-8: #b08800;
    --color-scale-yellow-9: #735c0f;
    --color-scale-orange-0: #fff8f2;
    --color-scale-orange-1: #ffebda;
    --color-scale-orange-2: #ffd1ac;
    --color-scale-orange-3: #ffab70;
    --color-scale-orange-4: #fb8532;
    --color-scale-orange-5: #f66a0a;
    --color-scale-orange-6: #e36209;
    --color-scale-orange-7: #d15704;
    --color-scale-orange-8: #c24e00;
    --color-scale-orange-9: #a04100;
    --color-scale-red-0: #ffeef0;
    --color-scale-red-1: #ffdce0;
    --color-scale-red-2: #fdaeb7;
    --color-scale-red-3: #f97583;
    --color-scale-red-4: #ea4a5a;
    --color-scale-red-5: #d73a49;
    --color-scale-red-6: #cb2431;
    --color-scale-red-7: #b31d28;
    --color-scale-red-8: #9e1c23;
    --color-scale-red-9: #86181d;
    --color-scale-purple-0: #f5f0ff;
    --color-scale-purple-1: #e6dcfd;
    --color-scale-purple-2: #d1bcf9;
    --color-scale-purple-3: #b392f0;
    --color-scale-purple-4: #8a63d2;
    --color-scale-purple-5: #6f42c1;
    --color-scale-purple-6: #5a32a3;
    --color-scale-purple-7: #4c2889;
    --color-scale-purple-8: #3a1d6e;
    --color-scale-purple-9: #29134e;
    --color-scale-pink-0: #ffeef8;
    --color-scale-pink-1: #fedbf0;
    --color-scale-pink-2: #f9b3dd;
    --color-scale-pink-3: #f692ce;
    --color-scale-pink-4: #ec6cb9;
    --color-scale-pink-5: #ea4aaa;
    --color-scale-pink-6: #d03592;
    --color-scale-pink-7: #b93a86;
    --color-scale-pink-8: #99306f;
    --color-scale-pink-9: #6d224f;
    --color-text-primary: #24292e;
    --color-text-secondary: #586069;
    --color-text-tertiary: #6a737d;
    --color-text-placeholder: #d1d5da;
    --color-text-disabled: #d1d5da;
    --color-text-inverse: #ffffff;
    --color-text-link-primary: #0366d6;
    --color-text-link-secondary: #24292e;
    --color-text-link-tertiary: #586069;
    --color-text-danger: #d73a49;
    --color-text-success: #22863a;
    --color-text-warning: #b08800;
    --color-icon-primary: #24292e;
    --color-icon-secondary: #586069;
    --color-icon-tertiary: #959da5;
    --color-icon-info: #0366d6;
    --color-icon-danger: #d73a49;
    --color-icon-success: #22863a;
    --color-icon-warning: #b08800;
    --color-hl-hover-primary-bg: #0366d6;
    --color-hl-hover-primary-border: #0366d6;
    --color-hl-hover-secondary-bg: #f6f8fa;
    --color-hl-hover-secondary-border: #f6f8fa;
    --color-hl-selected-primary-bg: #0366d6;
    --color-hl-selected-primary-border: #0366d6;
    --color-border-primary: #e1e4e8;
    --color-border-primary-light: #eaecef;
    --color-border-secondary: #d1d5da;
    --color-border-tertiary: #fafbfc;
    --color-border-inverse: #ffffff;
    --color-border-info: #0366d6;
    --color-border-danger: #d73a49;
    --color-border-success: #28a745;
    --color-border-warning: #dbab09;
    --color-bg-canvas: #ffffff;
    --color-bg-canvas-inverse: #24292e;
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f6f8fa;
    --color-bg-tertiary: #fafbfc;
    --color-bg-overlay: #ffffff;
    --color-bg-selected: #0366d6;
    --color-bg-info: #dbedff;
    --color-bg-info-inverse: #0366d6;
    --color-bg-danger: #ffdce0;
    --color-bg-danger-inverse: #d73a49;
    --color-bg-success: #dcffe4;
    --color-bg-success-inverse: #28a745;
    --color-bg-warning: #fff5b1;
    --color-bg-warning-inverse: #dbab09;
    --color-shadow-small: 0 1px 0 rgba(27,31,35,0.04);
    --color-shadow-medium: 0 3px 6px rgba(149,157,165,0.15);
    --color-shadow-large: 0 8px 24px rgba(149,157,165,0.2);
    --color-shadow-extra-large: 0 12px 48px rgba(149,157,165,0.3);
    --color-shadow-highlight: inset 0 1px 0 rgba(255,255,255,0.25);
    --color-shadow-inset: inset 0 1px 0 rgba(225,228,232,0.2);
    --color-shadow-focus: 0 0 0 3px rgba(3,102,214,0.3);
    --color-fade-black-10: rgba(27,31,35,0.1);
    --color-fade-black-15: rgba(27,31,35,0.15);
    --color-fade-black-30: rgba(27,31,35,0.3);
    --color-fade-black-50: rgba(27,31,35,0.5);
    --color-fade-black-70: rgba(27,31,35,0.7);
    --color-fade-black-85: rgba(27,31,35,0.85);
    --color-fade-white-10: rgba(255,255,255,0.1);
    --color-fade-white-15: rgba(255,255,255,0.15);
    --color-fade-white-30: rgba(255,255,255,0.3);
    --color-fade-white-50: rgba(255,255,255,0.5);
    --color-fade-white-70: rgba(255,255,255,0.7);
    --color-fade-white-85: rgba(255,255,255,0.85);
    --color-alert-bg: #dbedff;
    --color-alert-border: rgba(4,66,137,0.2);
    --color-alert-icon: rgba(4,66,137,0.6);
    --color-alert-warn-bg: #fffbdd;
    --color-alert-warn-border: rgba(176,136,0,0.2);
    --color-alert-warn-icon: #b08800;
    --color-alert-error-bg: #ffe3e6;
    --color-alert-error-border: rgba(158,28,35,0.2);
    --color-alert-error-icon: rgba(158,28,35,0.6);
    --color-alert-success-bg: #dcffe4;
    --color-alert-success-border: rgba(23,111,44,0.2);
    --color-alert-success-icon: rgba(23,111,44,0.8);
    --color-blankslate-icon: #a3aab1;
    --color-btn-bg: #fafbfc;
    --color-btn-border: rgba(27,31,35,0.15);
    --color-btn-text: #24292e;
    --color-btn-ic: #6a737d;
    --color-btn-bg-hover: #f3f4f6;
    --color-btn-bg-active: #edeff2;
    --color-btn-shadow-active: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
    --color-btn-shadow-input-focus: 0 0 0 0.2em rgba(3,102,214,0.3);
    --color-btn-primary-bg: #2ea44f;
    --color-btn-primary-border: rgba(27,31,35,0.15);
    --color-btn-primary-border-disabled: rgba(27,31,35,0.1);
    --color-btn-primary-text: #ffffff;
    --color-btn-primary-ic: rgba(255,255,255,0.8);
    --color-btn-primary-shadow: 0 1px 0 rgba(27,31,35,0.1);
    --color-btn-primary-shadow-highlight: inset 0 1px 0 rgba(255,255,255,0.03);
    --color-btn-primary-shadow-selected: inset 0 1px 0 rgba(20,70,32,0.2);
    --color-btn-primary-bg-hover: #2c974b;
    --color-btn-primary-bg-active: #2a8f47;
    --color-btn-primary-bg-disabled: #94d3a2;
    --color-btn-primary-disabled-text: rgba(255,255,255,0.8);
    --color-btn-primary-disabled-shadow: 0 0 0 3px rgba(46,164,79,0.4);
    --color-btn-primary-counter-bg: rgba(255,255,255,0.2);
    --color-btn-inverse-on-hover-border: rgba(27,31,35,0.15);
    --color-btn-inverse-on-hover-shadow: 0 1px 0 rgba(27,31,35,0.1);
    --color-btn-inverse-on-hover-shadow-inset: inset 0 1px 0 rgba(255,255,255,0.03);
    --color-btn-inverse-on-hover-counter-bg: rgba(255,255,255,0.2);
    --color-btn-danger-text: #d73a49;
    --color-btn-danger-text-disabled: rgba(215,58,73,0.5);
    --color-btn-danger-bg-hover: #cb2431;
    --color-btn-danger-bg-active: #be222e;
    --color-btn-danger-shadow: inset 0 1px 0 rgba(134,24,29,0.2);
    --color-btn-danger-shadow-focus: 0 0 0 3px rgba(203,36,49,0.4);
    --color-btn-danger-counter-bg: rgba(215,58,73,0.1);
    --color-btn-danger-counter-bg-disabled: rgba(215,58,73,0.05);
    --color-btn-outline-text: #0366d6;
    --color-btn-outline-text-disabled: rgba(3,102,214,0.5);
    --color-btn-outline-bg-hover: #0366d6;
    --color-btn-outline-bg-active: #035fc7;
    --color-btn-outline-shadow: inset 0 1px 0 rgba(5,38,76,0.2);
    --color-btn-outline-shadow-focus: 0 0 0 3px rgba(0,92,197,0.4);
    --color-btn-outline-counter-bg: rgba(3,102,214,0.1);
    --color-btn-outline-counter-bg-disabled: rgba(3,102,214,0.05);
    --color-btn-counter-bg: rgba(27,31,35,0.08);
    --color-counter-text: #24292e;
    --color-counter-bg: rgba(209,213,218,0.5);
    --color-counter-border: rgba(209,213,218,0.5);
    --color-topic-tag-bg: #f1f8ff;
    --color-topic-tag-border: #f1f8ff;
    --color-topic-tag-text: #0366d6;
    --color-input-bg: #ffffff;
    --color-input-contrast-bg: #fafbfc;
    --color-input-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
    --color-input-shadow-focus: 0 0 0 0.2em rgba(3,102,214,0.3);
    --color-avatar-border: rgba(27,31,35,0.1);
    --color-avatar-stack-fade: #d1d5da;
    --color-avatar-stack-fade-more: #e1e4e8;
    --color-avatar-child-shadow: -2px -2px 0 rgba(255,255,255,0.8);
    --color-toast-ic-bg-loading: #586069;
    --color-timeline-text: #444d56;
    --color-timeline-badge-bg: #e1e4e8;
    --color-timeline-target-badge-border: #2188ff;
    --color-timeline-target-badge-shadow: #c8e1ff;
    --color-select-menu-backdrop-bg: rgba(27,31,35,0.5);
    --color-select-menu-shadow: 0 0 18px rgba(27,31,35,0.4);
    --color-select-menu-tap-highlight: rgba(209,213,218,0.5);
    --color-select-menu-tap-focus-bg: #dbedff;
    --color-box-blue-border: #c8e1ff;
    --color-dropdown-border: rgba(27,31,35,0.15);
    --color-popover-border: rgba(27,31,35,0.15);
    --color-branch-name-text: rgba(27,31,35,0.6);
    --color-branch-name-bg: #eaf5ff;
    --color-branch-name-icon: #a8bbd0;
    --color-markdown-code-bg: rgba(27,31,35,0.05);
    --color-markdown-frame-border: #dfe2e5;
    --color-markdown-blockquote-border: #dfe2e5;
    --color-markdown-table-border: #dfe2e5;
    --color-markdown-table-tr-border: #c6cbd1;
    --color-header-text: rgba(255,255,255,0.7);
    --color-filter-item-bar-bg: #eff3f6;
    --color-hidden-text-expander-bg: #dfe2e5;
    --color-hidden-text-expander-bg-hover: #c6cbd1;
    --color-drag-and-drop-border: #c3c8cf;
    --color-upload-enabled-border: #dfe2e5;
    --color-upload-enabled-border-focused: #4a9eff;
    --color-previewable-comment-form-border: #c3c8cf;
    --color-ic-folder: #79b8ff;
    --color-hl-author-bg: #f1f8ff;
    --color-hl-author-border: #c8e1ff;
    --color-logo-subdued: #d1d5da;
    --color-discussion-border: #a2cbac;
    --color-diff-neutral-bg: #d1d5da;
    --color-diff-deletion-bg: #cb2431;
    --color-diff-deletion-bg-strong: #1b1f23;
    --color-diff-deletion-border: #1b1f23;
    --color-diff-deletion-border-strong: #1b1f23;
    --color-diff-addition-bg: #2cbe4e;
    --color-diff-addition-bg-strong: #1b1f23;
    --color-diff-addition-border: #1b1f23;
    --color-diff-addition-border-strong: #1b1f23;
    --color-global-nav-logo: #ffffff;
    --color-global-nav-bg: #24292e;
    --color-global-nav-text: #ffffff;
    --color-global-nav-input-bg: #fafbfc;
    --color-global-nav-input-border: #fafbfc;
    --color-global-nav-input-ic: #1b1f23;
    --color-global-nav-input-placeholder: #1b1f23;
    --color-calendar-graph-day-bg: #ebedf0;
    --color-calendar-graph-day-border: rgba(27,31,35,0.06);
    --color-calendar-graph-day-L1-bg: #9be9a8;
    --color-calendar-graph-day-L2-bg: #40c463;
    --color-calendar-graph-day-L3-bg: #30a14e;
    --color-calendar-graph-day-L4-bg: #216e39;
    --color-calendar-graph-day-L4-border: rgba(27,31,35,0.06);
    --color-calendar-graph-day-L3-border: rgba(27,31,35,0.06);
    --color-calendar-graph-day-L2-border: rgba(27,31,35,0.06);
    --color-calendar-graph-day-L1-border: rgba(27,31,35,0.06);
  }
}