name: Release
on:
  push:
    branches-ignore:
      - 'main'
      - 'changeset-release/**'
      - 'dependabot/**'

jobs:
  release-canary:
    name: npm
    if: ${{ github.repository == 'primer/stylelint-config' }}
    uses: primer/.github/.github/workflows/release_canary.yml@v2.2.0
    with:
      install: npm i
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
      npm_token: ${{ secrets.NPM_AUTH_TOKEN_SHARED }}
